.page-header{
    background-color: #E0FFFF;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 30px;
    padding: 20px 20px 40px 40px;
}

.page-header h1 a,
.page-header h1 a:visited,
.page-header h1 a:active{
    color: #ffffff;
    font-size: 45px;
    text-decoration: none;
}
form{
    font-size: 30px;
    margin-top: 50px;
    text-align: center;
}
.container{
    padding: 100px 100px 200px 200px;
    border-style:groove;
    background-color: blanchedalmond ;
}
.mytask{
    font-size: 40px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-style: italic;
    font-weight: 100;
    color: #000000;
    text-decoration: none;
}
